<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>contactEmailRot13</key>
  <string>ebbg@oernxvat-yvzvgf.pbz</string>
  <key>contactName</key>
  <string>Maik Kempe</string>
  <key>description</key>
  <string>My personal enhancements for TextMate.</string>
  <key>name</key>
  <string>Pimp My TextMate</string>
  <key>uuid</key>
  <string>DAA8161C-0CC1-49E9-BA2D-EA7BCAD52E79</string>
</dict>
</plist>